/Proyecto/[Ll]ibrary/
/Proyecto/[Bb]uild/
/Proyecto/[Oo]bj/
/Proyecto/[Tt]emp/
/Proyecto/[Bb]uilds/
/Proyecto/[Ll]ogs/
/Proyecto/[Uu]ser[Ss]ettings/
/Proyecto/[Mm]emoryCaptures/
/Proyecto/[Rr]ecordings/
/Proyecto/[Aa]ssets/Plugins/Editor/JetBrains*
.vs
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.aab
*.unitypackage
*.app
crashlytics-build.properties
/Proyecto/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Proyecto/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Proyecto/[Aa]ssets/[Ss]treamingAssets/aa/*